body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    /* background-color: linear-gradient(45deg, #ff77cd, #18cab2); */
    background: linear-gradient(45deg, #22c1c3, #fdbb2d);
    
}
/* //:start */
.menu{
    width: 400px;
    float: left;
    height: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-top: 15px;
    margin-left: 62px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:palevioletred;
}

.search{
    width: 330px;
    float: right;
    margin-left: 270px;

}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    /* #ff7200 */
    margin-top: 13px;
    color: red;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: black;
    border: 2px solid black;
    margin-top: 13px;
    color:#fff;
    font-size: 15px;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}
.btn{
    outline: none;

}
.srch:focus{
    outline: none;
}
/* end here */
.section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(/image/img11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    /* animation: changes 10s infinte ease-in-out; */
    animation-name: example;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.content h1{
    color:black;
    font-size: 60px;
    letter-spacing: 15px;
}
.content a{
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
}
.content a:hover{
    background: yellow;
    color: black;
}
@keyframes example{
    0%
    {
        background-image: url(/image/img5.jpg);
    }
    20%
    {
        background-image: url(/image/img2.jpg);
    }
    40%
    {
        background-image: url(/image/img3.jpg);
    }
     60%
    {
        background-image: url(/image/img4.jpg);
    } 
    80%
    {
        background-image: url(/image/img5.jpg);
    }
    100%
    {
        background-image: url(/image/img.jpg);
    }
}
